<hr class="uk-margin-medium-top" />
<span class="uk-float-right uk-margin-remove-adjacent uk-text-muted" data-uk-icon="icon:comment;ratio:0.7" data-uk-scrollspy="cls:uk-animation-fade"></span>
<h6 class="uk-h5">Comment</h6>
<div class="rounded-inset uk-width-1-1 uk-container uk-container-center commentme uk-background-secondary">
<div id="disqus_thread" class="uk-padding"></div>

<script type="text/javascript">
    var disqus_shortname = 'XXXXX';
    var disqus_identifier = '{{post.id}}';
 
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript" title="Disqus - Enable Javascripts" rel="nofollow" target="_blank">Comments powered by Disqus.</a></noscript>
</div>
