
<p class="uk-text-center uk-margin-medium-top">
	{{#foreach tags}}
	<a href="/tag/{{slug}}" title="{{name}}" class="uk-button uk-button-default uk-button-small uk-margin-small-right" data-uk-icon="icon:tag;ratio:0.65">{{name}}&nbsp;</a>
	{{/foreach}}
</p>
